!!!
%html
	%head
		%title instanat
		= javascript_include_tag :application
		= stylesheet_link_tag :style

	%body

		.content
			= yield
			%p a fleeting photo communication thing by <a href="http://ntlk.net">ntlk</a><br><a href="https://github.com/ntlk/instanat">find it on github</a>